{% extends "base_login.html" %}
{% block content %}
<div class="main">
    <div class="login-container">
        <h2>Recuperar Contraseña</h2>
        <p>Ingresa tu correo y te enviaremos instrucciones.</p>
        
        <form method="POST">
            {% csrf_token %}
            <label>Correo electrónico</label>
            <input type="email" name="email" placeholder="ejemplo@correo.com" required>
            <button type="submit">Enviar enlace</button>
        </form>
        
        <p><a href="{% url 'login' %}">Volver al inicio de sesión</a></p>
    </div>
</div>
{% endblock %}