{% extends "base_login.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="cabecera-registro">
        <a href="{% url 'login' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
            </svg>
        </a>
        <h1>Create Account</h1>
        <p>Join AudioPractice to start learning</p>
    </div>
    <div class="registro-container">
        {% if messages %}
        {% for message in messages %}
        {% if "register" in message.tags %}
        <div class="alert alert-{{ message.level_tag }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <label>Full Name</label>
            <input type="text" name="full_name" placeholder="Enter your full name ">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="you@email.com">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password">
            <label for="">Confirm Password</label>
            <input type="password" name="confirm" placeholder="Re-enter your password">
            <p>By creating an account, you agree to our
                <small>Terms of Service</small> and
                <small>Privacy Policy</small>.
            </p>
            <button type="submit">Create Account</button>
        </form>
    </div>
    <p>Already have an account ?<a href="{% url 'login' %}">Sign in</a></p>
</div>
{% endblock %}
{% block scripts %}
<script>
    const inputNombre = document.querySelector('input[name="full_name"]');

    inputNombre.addEventListener('input', function () {
        // Reemplaza cualquier cosa que NO sea letra o espacio con un vacío
        this.value = this.value.replace(/[^a-zA-ZáéíóúÁÉÍÓÚñÑ\s]/g, '');
    });
    setTimeout(() => {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
            alert.style.transition = 'opacity 0.5s ease';
            alert.style.opacity = '0';
            setTimeout(() => alert.remove(), 500); // elimina del DOM después de la transición
        });
    }, 5000);
</script>

{% endblock %}