{% extends "administrador/inicio_administrador.html" %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style_administrador/contra_recuperar.css'%}">
{% endblock %}
{% block content %}
<div class="password-container">
    <div class="password-title">
        <h2>Cambiar contraseña</h2>
    </div>

    <div class="password-wrapper">
        <!-- ERRORES GENERALES -->
        {% if form.non_field_errors %}
        <div class="form-error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <form method="POST" class="password-form">
            {% csrf_token %}

            <!-- CONTRASEÑA ACTUAL -->
            <div class="form-group">
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                <small class="error-text">{{ error }}</small>
                {% endfor %}
            </div>

            <!-- NUEVA CONTRASEÑA -->
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                <small class="error-text">{{ error }}</small>
                {% endfor %}
            </div>

            <!-- CONFIRMAR CONTRASEÑA -->
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                <small class="error-text">{{ error }}</small>
                {% endfor %}
            </div>

            <!-- REGLAS -->
            <div class="password-rules">
                <p>La contraseña debe cumplir:</p>
                <ul>
                    <li id="rule-length">❌ Mínimo 8 caracteres</li>
                    <li id="rule-numbers">❌ No solo números</li>
                    <li id="rule-match">❌ Las contraseñas coinciden</li>
                </ul>
            </div>

            <button type="submit" class="btn-primary">
                Guardar contraseña
            </button>
        </form>
    </div>


</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/administrador/contra_validar.js' %}"></script>

{% endblock %}